{% extends('base.html') %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layer/skin/layer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layim.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block head_js %}
    {{ super() }}
    <script type="text/javascript" src=""></script>
{% endblock %}
{% block content %}
    {% raw %}
    <div id="xximmm" class="xxim_main" ng-controller="MainController" ng-show="app_ready">
        <div class="xxim_top" id="xxim_top" ng-init="tab=1" ng-switch on="tab" ng-controller="ChatListController">
            <div class="xxim_search"><i></i><input id="xxim_searchkey" />
                <span id="xxim_closesearch">×</span>
            </div>
            <div class="xxim_tabs" id="xxim_tabs">
                <span class="xxim_tabfriend" title="好友" ng-click="get_friends();tab=1"><i></i></span>
                <span class="xxim_tabgroup" title="群组" ng-click="get_groups();tab=2"><i></i></span>
                <span class="xxim_latechat"  title="最近聊天" ng-click="get_rct_contacts();tab=3"><i></i></span>
            </div>
            <ul class="xxim_list" style="display:block" ng-switch-when="1">
                <li class="xxim_liston">
                    <ul class="xxim_chatlist">
                        <li ng-repeat="friend in friends" data-id="{{ friend.member_id }}" class="xxim_childnode list-animate" type="single">
                            <img ng-src="{{ friend.avatar }}" class="xxim_oneface">
                            <span class="xxim_onename">{{ friend.nickname || friend.name }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="xxim_list" style="display:block" ng-switch-when="2">
                <li class="xxim_liston">
                    <ul class="xxim_chatlist">
                        <li ng-repeat="group in groups" data-id="{{ group.id }}" class="xxim_childnode list-animate" type="group">
                            <img ng-src="{{ group.image }}"  class="xxim_oneface">
                            <span  class="xxim_onename">{{ group.name }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="xxim_list" style="display:block" ng-switch-when="3">
                <li class="xxim_liston">
                    <ul class="xxim_chatlist">
                        <li data-id="{{ contact.contact_id }}" class="xxim_childnode list-animate" type="{{ contact.is_to_group == '0' ? 'single' : 'group' }}" ng-repeat="contact in rct_contacts">
                            <span style="position:relative">
                                <img ng-src="{{ contact.avatar }}"  class="xxim_oneface">
                            </span>
                            <span  class="xxim_onename">{{ contact.name }}</span>
                            <em class="xxim_time">{{ contact.time }}</em>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="xxim_list xxim_searchmain" id="xxim_searchmain"></ul>
        </div>
        <ul class="xxim_bottom" id="xxim_bottom">
            <li class="xxim_online" id="xxim_online">
                <i class="xxim_nowstate"></i><span id="xxim_onlinetex">在线</span>
                <div class="xxim_setonline">
                    <span><i></i>在线</span>
                    <span class="xxim_setoffline"><i></i>隐身</span>
                </div>
            </li>
            <li class="xxim_mymsg" id="xxim_mymsg" title="我的私信"><i></i><a href="'+ config.msgurl +'" target="_blank"></a></li>
            <li class="xxim_seter" id="xxim_seter" title="设置">
                <i></i>
                <div class="">

                </div>
            </li>
            <li class="xxim_hide" id="xxim_hide"><i></i></li>
            <li id="xxim_on" class="xxim_icon xxim_on"></li>
            <div class="layim_min" id="layim_min"></div>
        </ul>
    </div>
    {% endraw %}
{% endblock %}